.btn {
  display: block;
}

#quote {
  display: none;
}
body {
  background-image: url('../thisgamesucks.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
